/* Main */

html {
  background: url('/images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  //@include xy-grid-container(800rem, 50rem);
}

.cell {
  color: white;
  font-size: 20em;
  margin-top: 250px;
  text-align: center;
}
